# Important Requirements here.
telethon
https://github.com/New-dev0/Telethon-Patch/archive/main.zip
python-decouple
python-dotenv
telegraph
enhancer
requests
aiohttp
catbox-uploader
cloudscraper
GitPython
requests
pillow
apiclient
opencv-python
numpy
beautifulsoup4
apscheduler
profanitydetector
qrcode
twikit
yt-dlp
htmlwebshot
google-api-python-client
PyPDF2
pytz
twikit
youtubesearchpython